gradio>4.0.0 # 不支持 3.x 版本
huggingface-hub
modelscope
transformers
peft
sentence-transformers
bcembedding
bitsandbytes
sentencepiece
einops
accelerate
tiktoken
langchain==0.2.16
langchain-community==0.2.17
langchain-core==0.2.41
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.4
chromadb
pysqlite3-binary
faiss-cpu
pypdf
unstructured # txt,md,doc,docx
python-docx # doc,docx
Markdown # markdown
lmdeploy
openxlab
loguru
openai
opencv-python
tencentcloud-sdk-python
